body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: #FFF;
    color: #343838;
    padding-top: 70px;
}

h1, h2, h3 {
    font-family: 'Gudea', sans-serif;
    margin-top: 21px;
    margin-bottom: 10.5px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.1;
    font-weight: 800;
    color: #222;

}
h1{
    font-size: 39px;
}
#main{ 
  padding-bottom: 100px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 70%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table{
    width: 100%;
    margin-bottom: 21px;
    font-size: 12px;
    max-width: 100%;
    background-color: transparent;
}
th,tr,td{
    padding: 8px;
    line-height: 1.428571429;
    text-align: left;
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
#navbar {
    background-color: #222722;
    border-bottom: 8px #151915 solid;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 1030;
    height: 60;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.nav li{
    float: left;
    position: relative;
    padding: 7px;
    list-style-type: none;
    transition: background 0.3s;
}
.dropdown-menu li{float:none}
.nav li:hover .dropdown-menu{display:block;}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 15px;
    list-style: none;
    background-color: #151715;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
}

#sidebar-holder{
    float: left;
    width: 25%;
    padding: 1px;
}
div#sidebar:hover {
    border-right: 15px #46b746 solid;
    background: #0a0c0a;
}
#sidebar {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background: #151915;
    color: white;
    border-right: 5px #3b423b solid;
    position: fixed;
    width: 18%;
    left: 0;
    padding: 10;
    top: 60;
    font-size: 15px;
    transition: border-right 0.3s,background 0.3s;
}

#navbar a {
    color: white;
    font-size:16;
    text-decoration: none;
}
.nav li:hover {
    background: #191d19;
}
.lesson:hover {
    border-left: 10px solid #46b746;
    background-color: black;
}
.lesson {
    padding: 7;
    border-left: 5px solid #333a33;
    transition: border-left 0.3s;
    margin-top: 5px;
}
.lesson[open] {
        border-left: 10px solid #46b746;
    background-color: black;
}

.lesson li:hover {
    background-color: #060606;
    border-bottom: 2px solid #428b21;
}

.lesson li {
    list-style-type: none;
    padding-left: 30px;
    transition: background-color 0.3s,border-bottom 0.3s;
    border-bottom: 1px solid #333a33;
}
.lesson summary {
    font-size: 19;
    font-weight: 600;
    margin: 5;
}
